@model IEnumerable<VendingMachine.Models.Coin>

@{
    ViewBag.Title = "CoinsIndex";
}

<h2 class="text-center">Список монет</h2>

<table class="table">
    <tr>
        <th>
            Кол-во монет 1 руб
        </th>
        <th>
            Кол-во монет 2 руб
        </th>
        <th>
            Кол-во монет 5 руб
        </th>
        <th>
            Кол-во монет 10 руб
        </th>
        <th>
            Статус кнопки 1 руб
        </th>
        <th>
            Статус кнопки 2 руб
        </th>
        <th>
            Статус кнопки 5 руб
        </th>
        <th>
            Статус кнопки 10 руб
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfCoins1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfCoins2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfCoins5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfCoins10)
        </td>
        @if (item.ButtonStatus1 == null)
        {
            <th>
                Активна
            </th>
        }
        else if (item.ButtonStatus1 == "disabled")
        {
            <th>
                Не активна
            </th>
        }
        @if (item.ButtonStatus2 == null)
        {
            <th>
                Активна
            </th>
        }
        else if (item.ButtonStatus2 == "disabled")
        {
            <th>
                Не активна
            </th>
        }     
        @if (item.ButtonStatus5 == null)
        {
            <th>
                Активна
            </th>
        }
        else if (item.ButtonStatus5 == "disabled")
        {
            <th>
                Не активна
            </th>
        }
        @if (item.ButtonStatus10 == null)
        {
            <th>
                Активна
            </th>
        }
        else if (item.ButtonStatus10 == "disabled")
        {
            <th>
                Не активна
            </th>
        }
        <td>
            @Html.ActionLink("Отредактировать монеты", "EditCoin", new { id=item.Id }, new { @class = "btn btn-warning btn-xs" } )
        </td>
    </tr>
}

</table>
